<div class="btn-group btn-block">
	<a href="#" class="btn btn-mini btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
		Administrar
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu left" role="menu" aria-labelledby="dLabel">
		<li>
			<%= link_to obj do %>
				<i class="icon-eye-open"></i>
				Ver detalles
			<% end %>
		</li>
		<li>
			<%= link_to edit_inscripcion_path(obj) do %>
			<i class="icon-pencil"></i>
			Editar
			<% end %>
		</li>
		<li>
			<%= link_to inscripcion_path(obj), method: :delete, confirm: 'Estás seguro?' do %>
			<i class="icon-trash"></i>
			Eliminar
			<% end %>
		</li>
		<!-- CAMBIO DE ESTADO -->
		<li class="dropdown-submenu pull-left">
			<a href="#" tabindex="-1">
				<i class="icon-wrench"></i>
				Cambiar estado
			</a>
			<ul class="dropdown-menu">
				<% EstadoInscripcion.all.each do |e| %>
				<li>
					<%= link_to inscripcion_update_status_path(obj, e.id), confirm: "Actualizando estado de inscripción",
					method: :put do %>
						<i class="<%= icon_for_estado_inscripcion(e.id) %>"></i>
						<%= e.descripcion %>
					<% end %>
				</li>
				<% end %>
			</ul>
		</li>
		<!-- REPORTES -->
		<li class="dropdown-submenu pull-left">
			<a href="#" tabindex="-1">
				<i class="icon-file"></i>
				Reportes
			</a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to reportes_mensuales_inscripcion_path(obj) do %>
						<i class="icon-time"></i>
						Control Mensual de Horas
					<% end %>
				</li>
				<li>
					<%= link_to '#' do %>
						<i class="icon-calendar"></i>
						Informe Bimensual
					<% end %>
				</li>
				<li>
					<%= link_to '#' do %>
						<i class="icon-calendar"></i>
						Informe Final
					<% end %>
				</li>
			</ul>
		</li>
		
	</ul>
</div>