<div class="well well-small center">
	<%= f.hidden_field :practicas, value: false %>
	<div class="btn-group" data-toggle="buttons-radio">
		<%= button_tag "Servicio Social", type: :button, class: 'btn btn-large btn-primary active',
		id: :toggle_servicio_social, value: false %>
		<%= button_tag "Práctica Profesional", type: :button, class: 'btn btn-large btn-primary',
		id: :toggle_practica_profesional, value: true %>
	</div>
</div>
<!-- TABS -->
<ul class="nav nav-tabs" id="tabs_inscripcion">
	<li class="active">
		<a href="#tab_escolares" data-toggle="tab">Datos escolares</a>
	</li>
	<li>
		<a href="#tab_programas" data-toggle="tab">Datos del programa</a>
	</li>
</ul>
<!-- START TAB CONTENT -->
<div class="tab-content">
	<!-- TAB DATOS ESCOLARES -->
	<div class="tab-pane active" id="tab_escolares">
		<%= f.association :institucion, collection: Institucion.where(educativa: true), label_method: :nombre, input_html: {class: 'use-select2 input-xlarge', 'data-placeholder' => 'Selecciona tu institución'} %>
		<%= f.input :plantel_id do %>
			<%= f.grouped_collection_select :plantel_id, Institucion.where(educativa: true), :plantels, :nombre, :id,
		:nombre, {include_blank: true}, {class: 'use-select2 input-xlarge', 
			'data-placeholder' => 'Selecciona una institución primero'} %>
		<% end %>
		<!-- <p class="well well-small">
			<strong>¿No aparece en la lista tu institución? Regístrala!</strong>
			<%#= f.simple_fields_for :institucion do |builder| %>
				<%#= render 'institucions/fields', f: builder %>
			<%# end %>
		</p> -->
		<%= render 'inscripcions/fields_escolares', f: f %>
		<div class="well well-small center">
			<h6>Pulsa en <a href="#tab_programas">Datos del programa</a> para continuar</h6>
		</div>
	</div>
	<!-- TAB DATOS DE PROGRAMA -->
	<div class="tab-pane" id="tab_programas">
		<%= render 'inscripcions/fields_programa', f: f %>
	</div>
</div>
<!-- END TAB CONTENT -->