<div class="row">
	<div class="span3">
		<p><strong>Tipo</strong>: <%= inscripcion.tipo_servicio %></p>
		<p>
			<strong>Estado</strong>:
			<span class="label <%= label_color_for_inscripcion(inscripcion) %>">
				<%= inscripcion.estado_inscripcion.descripcion %>
			</span>
		</p>
		<p>
			<strong>N. Control:</strong>
			<%= inscripcion.ncontrol || "No asignado" %>
		</p>
	</div>
	<div class="span3 pull-right">
		<p><strong>Horas realizadas:</strong> <%= inscripcion.horas_servicio %></p>
		<p><strong>Usuario:</strong> <%= link_to inscripcion.prestador.user.username, inscripcion.prestador %></p>
	</div>
</div>
<h4>Horas de servicio: <small><%= inscripcion.horas_servicio %></small></h4>
<ul class="nav nav-tabs">
	<li class="active">
		<a href="#datosPrestador" data-toggle="tab">Datos del prestador</a>
	</li>
	<li class="">
		<a href="#datosPrograma" data-toggle="tab">Datos del programa</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="datosPrestador">
		<h2>Nombre del solicitante</h2>
		<p><%= "#{inscripcion.prestador.nombre} #{inscripcion.prestador.apaterno} #{inscripcion.prestador.amaterno}" %></p>
		<div class="row">
			<div class="span5">
				<h2>Instituci&oacute;n</h2>
				<p><%= inscripcion.institucion %></p>
				<h2>Plantel</h2>
				<p><%= nombre_plantel(inscripcion) %></p>
				<h2>Avance de cursos</h2>
				<p><%= inscripcion.avance_cursos %></p>
				<h2>Semestre</h2>
				<p><%= inscripcion.semestre %></p>
			</div>
			<div class="span3 pull-right">
				<h2>Carrera</h2>
				<p><%= inscripcion.carrera %></p>
				<h2>Matr&iacute;cula</h2>
				<p><%= inscripcion.matricula %></p>
				<h2>Ingreso</h2>
				<p><%= inscripcion.ano_ingreso %></p>
				<h2>Promedio</h2>
				<p><%= inscripcion.promedio %></p>
			</div>
		</div> <!-- end row -->
		<!-- DATOS DE PRACTICAS PROFESIONALES -->
		<div class="row hide">
			<div class="span2">
				<h3>Cursos b&aacute;sicos</h3>
				<p><%= inscripcion.nCursos_basicos %></p>
			</div>
			<div class="span3">
				<h3>Cursos superior</h3>
				<p><%= inscripcion.nCursos_superio %></p>
			</div>
			<div class="span2">
				<h3>Creditos</h3>
				<p><%= inscripcion.creditos %></p>
			</div>
		</div> <!-- end row -->
	</div> <!-- end tab-pane -->
	<div class="tab-pane" id="datosPrograma">
		<div class="row">
			<div class="span4">
				<h2>Programa</h2>
				<p><%= inscripcion.cprograma.nombre %></p>
				<h2>Clave</h2>
				<p><%= inscripcion.cprograma.cveprograma %></p>
				<h2>&Aacute;rea</h2>
				<p><%= inscripcion.area %></p>
				<h2>Fecha de inicio</h2>
				<p>
					<i class="icon-calendar"></i>
					<%= inscripcion.fecha_inicio.strftime("%d/%m/%Y") %>
				</p>
				<h2>Fecha de t&eacute;rmino</h2>
				<p>
					<i class="icon-calendar"></i>
					<%= inscripcion.fecha_fin.strftime("%d/%m/%Y") %>
				</p>
			</div>
			<div class="span4">
				<h2>
					<small>Programa interinstitucional</small>
				</h2>
				<p><%= inscripcion.programa_institucional %></p>
				<h2>
					<small>Clave interinstitucional</small>
				</h2>
				<p><%= inscripcion.cve_programa_institucional %></p>
				<h2>D&iacute;as de asistencia</h2>
				<p><%= print_dias(inscripcion) %></p>
				<h2>Hora de entrada</h2>
				<p>
					<i class="icon-time"></i>
					<%= inscripcion.hora_entrada.strftime("%H:%M:%S") %>
				</p>
				<h2>Hora de salida</h2>
				<p>
					<i class="icon-time"></i>
					<%= inscripcion.hora_salida.strftime("%H:%M:%S") %>
				</p>
			</div>
		</div> <!-- end row -->
		<h2>Responsable</h2>
		<p>
			<%= inscripcion.responsable %>
		</p>
	</div> <!-- end tab pane -->
</div> <!-- end tab-content -->