<% provide(:title, "Editar inscripción") %>

<h1>Editando inscripción de prestador</h1>

<%= render 'shared/error_messages', object: @inscripcion %>

<%= simple_form_for @inscripcion, defaults: { input_html: { class: 'input-block-level' } } do |f| %>
	<%= f.input :programa_institucional %>
	<%= f.input :cve_programa_institucional %>
	<!-- <%= f.input :horas_servicio %> -->
	<h4>Horas de servicio</h4>
	<div class="input-append">
		<%= f.text_field :horas_servicio, class: 'input-medium' %>
		<%= link_to 'Calcular horas', inscripcion_calcular_horas_servicio_path(@inscripcion), remote: true,
		class: 'btn btn-warning' %>
	</div>
	<p>
		El formato de las horas debe ser: <strong>HRS:MIMS</strong> (ej: 480:00)
	</p>
	<h4>Número de Control</h4>
	<div class="input-append">
		<%= f.text_field :ncontrol, class: 'input-large' %>
		<%= link_to 'Generar', inscripcion_generar_ncontrol_path(@inscripcion), remote: true, class: 'btn btn-warning' %>
	</div>
	
	<div class="actions">
		<%= f.submit "Actualizar", class: 'btn btn-large btn-success' %>
	</div>
<% end %>