<%= provide(:title, "Inscripción al Servicio Social") %>
<% content_for(:javascript) do %>
	<%= javascript_include_tag 'institucions' %>
<% end %>
<div class="page-header">
	<h1>Inscripción al Servicio Social</h1>
</div>
<p class="lead">Inscribiéndose al programa con ID: <%= params[:programa_id] %></p>
<p>Para continuar llena los siguientes datos.</p>

<%= render 'shared/error_messages', object: @inscripcion %>
<%= simple_form_for @inscripcion, html: { class: 'form-horizontal' },
	defaults: { input_html: { class: 'input-large' } } do |f| %>
	<%= render 'fields', f: f %>
<% end %>