<%= provide(:title, "Inscripción al Servicio Social") %>
<% content_for(:javascript) do %>
	<%= javascript_include_tag 'institucions' %>
<% end %>
<div class="page-header">
	<h1>Inscripción al Servicio Social</h1>
</div>

<%= render 'shared/error_messages', object: @inscripcion %>
<%= simple_form_for @inscripcion, html: { class: 'form-horizontal' },
	defaults: { input_html: { class: 'input-large' } } do |f| %>
	<% if @programa %>
	<p class="lead">Inscribiéndose al programa: </p>
	<blockquote>
		<%= @programa.nombre %>
		<%= f.hidden_field :cprograma_id, value: @programa.id %>
	</blockquote>
	<% else %>
		<p class="lead">Selecciona el programa al cual deseas inscribirte:</p>
		<%= f.association :cprograma, collection: programas_for_current_user,
		label_method: :nombre, value_method: :id,
		input_html: { class: 'use-select2 input-block-level', 'data-placeholder' => 'Selecciona el programa' } %>
	<% end %>

	<p>Para continuar llena los siguientes datos.</p>

	<%= render 'fields', f: f %>
<% end %>