<% provide(:title, "Informes Bimensuales de Actividates enviados por el prestador") %>

<h1>
	Reportes:
	<small>Informe Bimensual de Actividades</small>
</h1>
<p>
	A continuación se presenta la lista de <strong>todos</strong> los <em>Informes Bimensuales de Actividades</em> que ha enviado el usuario.
</p>

<p>
	<strong>Usuario:</strong> <%= link_to @usuario.username, @prestador %>
</p>
<p>
	<strong>Nombre:</strong> <%= link_to @prestador.nombre_completo, @prestador %>
</p>
<p>
	<strong>Num. Control:</strong> <%= @inscripcion.ncontrol || "Sin definir" %>
</p>

<% if @reportes.any? %>
<%= render 'bi_monthly_reports/table', reportes: @reportes %>
<% else %>
<p class="lead">
	Este usuario aún no ha enviado <strong>ningún</strong> <em>Informe Bimensual de Actividades</em>
</p>
<% end %>
<%= render 'shared/back_button', link: @inscripcion %>
