<% provide(:title, "Detalles de inscripción") %>
<div class="page-header">
	<h1>Detalles de inscripci&oacute;n</h1>
</div>
<div class="row">
	<div class="span3"
		<p><strong>Tipo</strong>: <%= @inscripcion.tipo_servicio %></p>
		<p><strong>Estado</strong>: <%= @inscripcion.estado_inscripcion.descripcion %></p>
	</div>
	<div class="span3 pull-right">
		<p><strong>Horas realizadas:</strong> 250</p>
		<p><strong>Usuario:</strong> <%= link_to @inscripcion.prestador.user.username, @inscripcion.prestador %></p>
	</div>
</div>
<ul class="nav nav-tabs">
	<li class="active">
		<a href="#datosPrestador" data-toggle="tab">Datos del prestador</a>
	</li>
	<li class="">
		<a href="#datosPrograma" data-toggle="tab">Datos del programa</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="datosPrestador">
		<h2>Nombre del solicitante</h2>
		<p>Fernando Gómez Herrera</p>
		<div class="row">
			<div class="span5">
				<h2>Instituci&oacute;n</h2>
				<p><%= @inscripcion.institucion.nombre %></p>
				<h2>Plantel</h2>
				<p><%= nombre_plantel(@inscripcion) %></p>
				<h2>Avance de cursos</h2>
				<p><%= @inscripcion.avance_cursos %></p>
				<h2>Semestre</h2>
				<p><%= @inscripcion.semestre %></p>
			</div>
			<div class="span3 pull-right">
				<h2>Carrera</h2>
				<p>Técnico en Programación</p>
				<h2>Matr&iacute;cula</h2>
				<p><%= @inscripcion.matricula %></p>
				<h2>Ingreso</h2>
				<p><%= @inscripcion.ano_ingreso %></p>
				<h2>Promedio</h2>
				<p><%= @inscripcion.promedio %></p>
			</div>
		</div> <!-- end row -->
		<!-- DATOS DE PRACTICAS PROFESIONALES -->
		<div class="row hide">
			<div class="span2">
				<h3>Cursos b&aacute;sicos</h3>
				<p><%= @inscripcion.nCursos_basicos %></p>
			</div>
			<div class="span3">
				<h3>Cursos superior</h3>
				<p><%= @inscripcion.nCursos_superio %></p>
			</div>
			<div class="span2">
				<h3>Creditos</h3>
				<p><%= @inscripcion.creditos %></p>
			</div>
		</div> <!-- end row -->
	</div> <!-- end tab-pane -->
	<div class="tab-pane" id="datosPrograma">
		<div class="row">
			<div class="span4">
				<h2>Programa</h2>
				<p><%= @inscripcion.cprograma.nombre %></p>
				<h2>Clave</h2>
				<p><%= @inscripcion.cprograma.cveprograma %></p>
				<h2>&Aacute;rea</h2>
				<p><%= @inscripcion.area %></p>
				<h2>Fecha de inicio</h2>
				<p><%= @inscripcion.fecha_inicio.strftime("%d/%m/%Y") %></p>
				<h2>Fecha de t&eacute;rmino</h2>
				<p><%= @inscripcion.fecha_fin.strftime("%d/%m/%Y") %></p>
			</div>
			<div class="span4">
				<h2>Programa inst.</h2>
				<p><%= @inscripcion.programa_institucional %></p>
				<h2>Clave</h2>
				<p><%= @inscripcion.cve_programa_institucional %></p>
				<h2>D&iacute;as de asistencia</h2>
				<p><%= print_dias(@inscripcion) %></p>
				<h2>Hora de entrada</h2>
				<p><%= @inscripcion.hora_entrada.strftime("%H:%M:%S") %></p>
				<h2>Hora de salida</h2>
				<p><%= @inscripcion.hora_salida.strftime("%H:%M:%S") %></p>
			</div>
		</div> <!-- end row -->
		<h2>Responsable</h2>
		<p>Martha G. Tera Ponce - Responsable de Servicio Social</p>
	</div> <!-- end tab pane -->
</div> <!-- end tab-content -->
<hr />
<% if logged_as? :admin %>
<h2>Observaciones</h2>
<p><i class="icon-question-sign"></i>
	Escribir en el siguiente campo si hay alg&uacute;n error en la inscripci&oacute;n (<em>especificar dato</em>) o si es necesario hacerle notificar algo a la persona que envi&oacute; la solicitud de inscripci&oacute;n.</p>
<p><i class="icon-question-sign"></i>
En caso de que sea una solicitud de inscripci&oacute;n y tenga errores, pulsar el bot&oacute;n <em><strong>Con errores</strong></em>.
Si lo que se desea es actualizar &uacute;nicamente el campo de observaciones, pulsar en <em><strong>Actualizar observaciones</strong></em>.</p>
<textarea name="observaciones" maxlength="300" class="span8" rows="4"
	placeholder="Escribe alguna observaci&oacute;n"></textarea>
<div class="form-actions">
	<button class="btn btn-warning" name="actualizar" type="button" onclick="actualizarObservaciones(1)"><i class="icon-warning-sign icon-white"></i>
		Actualizar observaciones
	</button>
</div>
<div class="right">
	<h6>Creaci&oacute;n: <small><%= @inscripcion.created_at %></small></h6>
	<h6>Ultima modif.: <small><%= @inscripcion.updated_at %></small></h6>
	<h6>ID: <small><%= @inscripcion.id %></small></h6>
</div>
<% end %>