<% provide(:title, 'Iniciar sesi칩n') %>
<h1>Iniciar sesi칩n</h1>

<%= simple_form_for :session, url: sessions_path, defaults: { input_html: { class: 'input-block-level' } } do |f| %>

  <%= f.input :username, label: "Nombre de usuario" %>
  <%= f.input :password, label: "Contrase침a" %>

	<%= f.label :remember_me, class: 'checkbox' do %>
		<%= f.check_box :remember_me %>
		Recordarme
	<% end %>

  <%= f.submit "Iniciar sesi칩n", class: "btn btn-large btn-primary btn-block" %>
<% end %>