<%= provide(:title, 'Catálogo de planteles') %>
<% provide(:sidebar_active, :planteles) %>
<h1>Catálogo de planteles</h1>

<p>
	<%= link_to "Registrar nuevo", new_plantel_path, class: 'btn btn-large btn-warning' %>
</p>
<% if @plantels.any? %>
	<%= will_paginate %>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Institucion</th>
				<th class="input-small">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @plantels.each do |p| %>
			<tr>
				<td><%= p.id %></td>
				<td><%= p.nombre %></td>
				<td><%= link_to p.institucion, institucion_path(p.institucion) %></td>
				<td>
					<%= render 'institucions/plantel_admin_btn', obj: p, size: 'btn-small' %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate %>
<% else %>
	<h1>No hay planteles</h1>
<% end %>