<style type="text/css">
button { margin-top: 10px; }
</style>

<% %w[large . small mini].each do |size| %>
<% %w[primary success danger inverse warning info btn].each do |color| %>
<%= button_tag 'This is a button', class: "btn btn-#{size} btn-#{color}" %>
<% end %>
<hr>
<% end %>


<h1>Forms</h1>
<p>
	<%= link_to "Petición remota", "/cprogramas/2/generar_nueva_clave", remote: true, class: 'btn btn-warning' %>
</p>
<pre>
	&lt;%= link_to "Petici&oacute;n remota", { controller: :cprogramas, action: :generar_nueva_clave, remote: true }, {class: 'btn btn-warning'} %&gt;
	&lt;a href="/programas/generar_nueva_clave" class="btn btn-warning" data-remote="true"&gt;Petici&oacute;n remota&lt;/a&gt;
</pre>
<hr>
<%= simple_form_for @prestador, html: {class: 'form-horizontal'} do |f| %>
<div class="row">
	<div class="span4">
		<%= f.input :nombre, label: "URL", input_html: {type: :url},
		hint: 'Firefox, Chrome y Opera' %>
		<%= f.input :apaterno, label: "Color", input_html: {type: :color}, 
		hint: 'Chrome y Opera' %>
		<%= f.input :amaterno, label: "Date", input_html: {type: :date},
		hint: 'Chrome, Safari y Opera' %>
		<%= f.input :sexo, label: "Datepicker", input_html: { 'data-behaviour' => 'datepicker'},
		hint: 'bootstrap-datepicker' %>
		<%= f.input :dCalle, label: 'Chosen', collection: @instituciones, label_method: :nombre,
		input_html: {'data-placeholder' => 'Escoge una', class: 'chzn-select' }, hint: 'Chosen selects' %>
	</div>
	<div class="span4">
		<%= f.input :nombre, label: "Time", input_html: {type: :time},
		hint: 'Chrome y Opera' %>
		<%= f.input :nombre, label: "Email", input_html: {type: :email},
		hint: 'Chrome, Firefox y Opera' %>
		<%= f.input :nombre, label: "Number", input_html: {type: :number, max: 5, min: 1},
		hint: 'Chrome, Safari y Opera' %>
		<%= f.input :nombre, label: "Range", input_html: {type: :range, max: 15, min: 1},
		hint: 'Chrome, Safari y Opera' %>
	</div>
</div>


<% end %>
<a href="#" class="btn btn-large btn-danger">
	One line <br>
	Second line
</a>
