
<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= full_title('Sistema de Registro y Administración de Servicio Social') %></title>
  <%= csrf_meta_tags %>

  <%= render 'shared/shim' %>
  <%= render 'shared/seo' %>
  <%= render 'shared/livereload' if Rails.env.development? %>

  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body id="<%= "#{controller_name}-#{action_name}" %>">
	<div id="wrap">
		<!-- Header
		============================== -->
		<header class="gradient">
			<div class="container row">
				<div class="span7">
					<h1>SiRASS, <em>Servicio Social</em></h1>
					<p>Servicio Social simplificado. Olv&iacute;date de llenar
					tus formatos a mano y de las tediosas revisiones.</p>
					<% if logged_in? %>
						 <p>
						 	<%= link_to 'Cerrar sesión', logout_path, class: 'btn btn-danger btn-large' %>
						 <!-- Haz iniciado sesión como: <%= link_to current_user.username, current_user.user_page, class: 'username' %> -->
						  <%= link_to current_user.user_page, class: 'btn btn-primary btn-large' do %>
						  	<i class="icon-user"></i>
						  	<%= current_user.username %>
						  <% end %>
						 </p>
					<% else %>
						<%= link_to 'Inicia sesión', login_path, class: "btn btn-primary btn-large" %>
						<%= link_to 'Regístrate', registro_path, class: "btn btn-inverse btn-large" %>
					<% end %>
				</div>
				<div class="pull-right">
					<%= image_tag 'UACM_SS_logo.png' %>
					<%= link_to "http://www.uacm.edu.mx/" do %>
						<%= image_tag 'UACM_logo.jpg' %>
					<% end %>
				</div>
	    </div>
		</header>
		<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
		<!-- Contenido
		============================== -->
		<div class="container content solid">
			<ul class="thumbnails">
				<li class="span6">
					<h2>Programas</h2>
					<%#= link_to programas_path, {class: "thumbnail", id: "programas"} do %>
						<%#= image_tag '300x108.gif' %>
					<%# end %>
					<p class="center">Conoce todos los programas de Servicio Social que ofrece para ti la UACM.</p>
					<%= link_to programas_path, class: 'btn btn-warning btn-large span5' do %>
						<i class="icon-white icon-book"></i>
						Revisa la lista de Programas 
					<% end %>
				</li>
				<li class="span6">
					<h2><strong>REGISTRO PARA INSTITUCIÓN</strong></h2>
					<p class="center">Registrate aquí, envía tus programas y comienza a recibir prestadores</p>
					<br>
					<%= link_to registro_institucion_path, class: 'btn btn-warning btn-large span5' do %>
						<i class="icon-white icon-book"></i>
						Registro de Institución
					<% end %>
				</li>
				<!-- <li class="span4">
					<h2>Proceso</h2> -->
					<%#= link_to proceso_path, {class: "thumbnail", id: "proceso"} do %>
						<%#= image_tag '300x108.gif' %>
					<%# end %>
					<!-- <p>Echa un vistazo a los procesos que se deben llevar a cabo para realizar tu Servicio Social.</p> -->
					<%#= link_to proceso_path, class: 'btn btn-warning btn-block' do %>
						<!-- <i class="icon-white icon-road"></i>
						Conoce el Proceso -->
					<%# end %>
				<!-- </li>
				<li class="span4">
					<h2>Ayuda</h2> -->
					<%#= link_to ayuda_path, {class: "thumbnail", id: "ayuda"} do %>
						<%#= image_tag '300x108.gif' %>
					<%# end %>
					<!-- <p>Aclara tus dudas respecto a qu&eacute; necesitas para realizar tu Servicio Social.</p> -->
					<%#= link_to ayuda_path, class: 'btn btn-warning btn-block' do %>
						<!-- <i class="icon-white icon-question-sign"></i>
						Resuelve tus dudas -->
					<%# end %>
				<!-- </li> -->
			</ul>
		</div>
		<%= render 'shared/debug' %>
		<div id="push"></div>
	</div>
	<!-- Footer
	============================== -->
	<%= render 'layouts/footer' %>
	<!-- Scripts
	============================== -->
	<%= javascript_include_tag "application" %>
</body>
</html>