<nav class="span3" id="sidebar">
	<ul class="nav nav-list well well-small">
		<li id="sidebar_home">
			<a href="<%= admin_home_path %>">
				<i class="icon-home"></i>
				Inicio
			</a>
		</li>
		<%= render 'layouts/admin/convocatoria' %>
		<li class="nav-header">Gestionar perfil</li>
		<li id="sidebar_editar">
			<%= link_to edit_admin_path(current_user.admin) do %>
				<i class="icon-pencil"></i>
				Editar datos
			<% end %>
		</li>
		<li class="nav-header">Gestionar Usuarios</li>
    	<li id="sidebar_prestadores">
			<%= link_to prestadors_path do %>
				<i class="icon-user"></i>
				Gestionar prestadores
			<% end %>
		</li>
		<li id="sidebar_instituciones_users">
			<%= link_to institucion_users_path do %>
				<i class="icon-folder-close"></i>
				Gestionar instituciones
			<% end %>
		</li>
		<li id="sidebar_admins">
			<%= link_to admins_path do %>
				<i class="icon-user"></i>
				Gestionar <abbr title="Administradores">admins.</abbr>
			<% end %>
		</li>
		<li class="divider"></li>
		<li id="sidebar_programas">
			<%= link_to cprogramas_path do %>
				<i class="icon-book"></i>
				Gestionar programas
			<% end %>
		</li>
		<li id="sidebar_inscripciones">
			<%= link_to inscripcions_path do %>
				<i class="icon-list-alt"></i>
				Gestionar inscripciones
			<% end %>
		</li>
		<li class="nav-header">Gestionar Reportes</li>
		<li id="sidebar_reportes_cmh">
			<%= link_to admin_reportes_mensuales_path do %>
				<i class="icon-time"></i>
				Control M. de Horas
			<% end %>
		</li>
		<li id="sidebar_reportes_iba">
			<%= link_to admin_reportes_bimensuales_path do %>
				<i class="icon-calendar"></i>
				Informe Bimensual
			<% end %>
		</li>
		<li id="sidebar_reportes_ifa">
			<%= link_to admin_reportes_finales_path do %>
				<i class="icon-calendar"></i>
				Informes Finales
			<% end %>
		</li>
		<li class="nav-header">Catálogos</li>
		<li id="sidebar_instituciones">
			<%= link_to institucions_path do %>
				<i class="icon-list"></i>
				Lista de instituciones
			<% end %>
		</li>
		<li id="sidebar_planteles">
			<%= link_to plantels_path do %>
				<i class="icon-list"></i>
				Lista de planteles
			<% end %>
		</li>
		<!-- avisos -->
		<li class="divider"></li>
		<!-- <li>
			<a href="#avisos">
			<i class="icon-exclamation-sign"></i>
				Avisos
			</a>
		</li> -->
	</ul>
</nav>