<!-- RESUMEN DE HORAS -->
<div class="row">
	<div class="span2">
		<%= f.input :horas do %>
			<div class="input-append">
				<%= f.text_field :horas, class: 'input-mini right', placeholder: "HH:MM" %>
				<span class="add-on">
		  			<i class="icon-time"></i>
		  		</span>
			</div>
		<% end %>
	</div>
	<div class="span2 offset1">
		<%= f.input :horas_anteriores do %>
			<div class="input-append">
				<%= f.text_field :horas_anteriores, class: 'input-mini right', placeholder: "HHH:MM" %>
				<span class="add-on">
		  			<i class="icon-time"></i>
		  		</span>
			</div>
		<% end %>
	</div>
	<div class="span2 offset1">
		<%= f.input :horas_acum do %>
			<div class="input-append">
				<%= f.text_field :horas_acum, class: 'input-mini right', placeholder: "HHH:MM" %>
				<span class="add-on">
		  			<i class="icon-time"></i>
		  		</span>
			</div>
		<% end %>
	</div>
</div>

<!-- ACCIONES -->
<div class="well well-small center">
	<%= link_to_add_fields "Agregar hora", f, :monthly_report_hours %>
</div>

<!-- REGISTROS DE HORAS -->
<table class="table table-bordered table-condensed" id="table_horas">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Hora de entrada</th>
			<th>Hora de salida</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
	<%= f.simple_fields_for :monthly_report_hours do |builder| %>
		<%= render 'monthly_report_hour_fields', f: builder %>
	<% end %>
	</tbody>
</table>