<div class="row">
	<div class="span2">
		<%= f.input :numero, input_html: { max: 10, min: 1, autofocus: true } %>
	</div>
	<div class="span2 offset1">
		<%= f.input :fecha_inicio do %>
			<div class="input-append bootstrap-timepicker-component">
				<%= f.text_field :fecha_inicio, 'data-behaviour' => 'datepicker', class: 'input-small', placeholder: "dd/mm/aaaa" %>
				<span class="add-on">
		  			<i class="icon-calendar"></i>
		  		</span>
			</div>
		<% end %>
	</div>
	<div class="span2 offset1">
		<%= f.input :fecha_fin do %>
			<div class="input-append bootstrap-timepicker-component">
				<%= f.text_field :fecha_fin, 'data-behaviour' => 'datepicker', class: 'input-small', placeholder: "dd/mm/aaaa" %>
				<span class="add-on">
		  			<i class="icon-calendar"></i>
		  		</span>
			</div>
		<% end %>
	</div>
</div>

<%= f.input :supervisor %>