<% provide(:title, "Detalles de Control de Horas") %>

<h1>Detalles del reporte</h1>
<p class="lead">
	A continuación se presentan los detalles de tu <em>Control Mensual de Horas</em>
</p>
<div class="row">
	<div class="span2">
		<strong>Horas:</strong>
		<p class="well well-small center">
			<%= @reporte.horas %>
		</p>
	</div>
	<div class="span3 offset1">
		<strong>Horas anteriores:</strong>
		<p class="well well-small center">
			<%= @reporte.horas_acum %>
		</p>
	</div>
	<div class="span2 pull-right">
		<strong>Horas acumuladas:</strong>
		<p class="well well-small center">
			<%= @reporte.horas_anteriores %>
		</p>
	</div>
</div>

<h2>Registro de Horas</h2>

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th class="center">Fecha</th>
			<th class="center">Entrada</th>
			<th class="center">Salida</th>
		</tr>
	</thead>
	<tbody>
	<% @reporte.monthly_report_hours.each do |r| %>
		<tr>
			<td class="center"><%= r.fecha %></td>
			<td class="center"><%= r.entrada.strftime("%H:%M")	 %></td>
			<td class="center"><%= r.salida.strftime("%H:%M") %></td>
		</tr>
	<% end %>
	</tbody>
</table>