<% provide(:title, "Detalles de Control de Horas") %>
<h1>Detalles del reporte</h1>
<p class="lead">
	A continuación se presentan los detalles del <em>Control Mensual de Horas</em>
</p>

<p>
	<strong>Número:</strong> <%= @reporte.numero %>
</p>

<div class="row">
	<div class="span3">
		<strong>Periodo del:</strong>
		<%= @reporte.fecha_inicio %>
	</div>
	<div class="span3">
		<strong>Al:</strong>
		<%= @reporte.fecha_fin %>
	</div>
	<div class="span2">
		<strong>Estado:</strong>
		<span class="label <%= lbl_estado_reporte(@reporte) %>">
			<%= @reporte.estado_reporte.descripcion %>
		</span>
	</div>
</div>
<br>
<div class="row">
	<div class="span2">
		<strong>Horas:</strong>
		<p class="well well-small center">
			<%= @reporte.horas %>
		</p>
	</div>
	<div class="span2 offset1">
		<strong>Horas anteriores:</strong>
		<p class="well well-small center">
			<%= @reporte.horas_anteriores %>
		</p>
	</div>
	<div class="span2 offset1">
		<strong>Horas acumuladas:</strong>
		<p class="well well-small center">
			<%= @reporte.horas_acum %>
		</p>
	</div>
</div>
<p>
	<strong>Supervisor:</strong>
	<%= @reporte.supervisor %>
</p>
<div class="pull-right span2">
	<%= render 'admin_btn', obj: @reporte %>
</div>
<h2>Registro de Horas</h2>

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th class="center">Fecha</th>
			<th class="center">Entrada</th>
			<th class="center">Salida</th>
		</tr>
	</thead>
	<tbody>
	<% @reporte.monthly_report_hours.each do |r| %>
		<tr>
			<td class="center"><%= r.fecha %></td>
			<td class="center"><%= r.entrada.strftime("%H:%M")	 %></td>
			<td class="center"><%= r.salida.strftime("%H:%M") %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% if can? :manage, MonthlyReport %>
	<%= render 'shared/observaciones', object: @reporte, url: control_hora_path(@reporte) %>
	<%= render 'shared/back_button', link: admin_reportes_mensuales_path %>
<% end %>
