
<nav class="span3" id="sidebar">
	<ul class="nav nav-list well well-small">
		<li id="sidebar_home">
			<a href="<%= prestador_home_path %>"><i class="icon-home"></i>
				Inicio
			</a>
		</li>
		<li id="sidebar_inscripcion">
			<% 
				ruta_inscripcion = ""
				if current_user.prestador and current_user.prestador.inscripcion_actual and !current_user.prestador.articulo_id
					ruta_inscripcion = mi_inscripcion_path
				else
					ruta_inscripcion = inscripcion_servicio_path
				end
				if current_user.prestador and current_user.prestador.articulo_id and !current_user.prestador.inscripcion_actual
					ruta_inscripcion = mi_inscripcion_art_path
				end
			%>
			<%= link_to ruta_inscripcion do %>
				<i class="icon-pencil"></i>
				Inscripción
			<% end %>
		</li>
		<li class="nav-header">Gestionar perfil</li>
		<li id="sidebar_editar">
			<%= link_to edit_prestador_path(current_user.prestador) do %>
				<i class="icon-edit"></i>
				Editar datos
			<% end %>
		</li>
		<li class="nav-header">Generar reportes</li>
		<li id="sidebar_control_horas">
			<%= link_to "Control Mensual de Horas", reporte_horas_path %>
		</li>
		<li id="sidebar_informeBim">
			<%= link_to "Informe Bimensual", new_informe_bimensual_path %>
		</li>
		<li id="sidebar_informeFin">
			<%= link_to "Informe Final", informe_final_new_path %>
		</li>
		<li class="divider"></li>
		<!-- pendientes -->
		<li class="nav-header">Revisiones</li>
		<li id="sidebar_revControl">
			<%= link_to control_horas_path do %>
				<i class="icon-calendar"></i>
				Control de Horas
			<% end %>
		</li>
		<li id="sidebar_revBim">
			<%= link_to informe_bimensual_index_path do %>
				<i class="icon-tasks"></i>
				Informe Bimensual
			<% end %>
		</li>
		<li id="sidebar_revFin">
			<%= link_to informe_final_ver_path do %>
				<i class="icon-eye-open"></i>
				Informe Final
			<% end %>
		</a>
		</li>
		<!-- avisos -->
		<li class="divider"></li>
		<li id="sidebar_avisos">
			<a href="#">
				<i class="icon-exclamation-sign"></i>
				Avisos
			</a>
		</li>
	</ul>
</nav>