<% provide(:title, "Gestionar Control Mensual de Horas") %>
<% provide(:sidebar_active, :reportes_cmh) %>

<h1>
	Lista de reportes
	<small>Control Mensual de Horas</small>
</h1>

<p>
	Listar por categoría:
	<%= link_to "Todos", { controller: :admin_pages, action: :reportes_mensuales},  { class: 'btn btn-mini btn-warning' } %>
	<% EstadoReporte.all.each do |e| %>
		<%= link_to e.descripcion, { controller: :admin_pages, action: :reportes_mensuales, estado: e.id },  { class: 'btn btn-mini btn-inverse' } %>
	<% end %>
</p>
<% if params[:estado] %>
	<p>
		<strong>Reportes por categoría:</strong>
		<span class="label <%= lbl_estado_reporte_id(params[:estado].to_i) %>">
			<%= EstadoReporte.estado_for_id(params[:estado].to_i) %>
		</span>
	</p>
<% end %>

<% if @reportes.any? %>

	<%= will_paginate(@reportes) %>
	<%= render 'monthly_reports/table', reportes: @reportes %>

<% else %>
<p class="lead">No hay ningún reporte en la base de datos.</p>
<% end %>