<table class="table table-bordered table-striped table-condensed table-center" >
	<thead>
		<tr>
			<th rowspan="2">Categoría</th>
			<th colspan="7">Cantidad</th>
		</tr>
		<tr>
			<th>Esperando</th>
			<th>Activos</th>
			<th>Inactivos</th>
			<th>Suspendidos</th>
			<th>Actualizados</th>
			<th>Observaciones</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<% 
			total_internos								= Cprograma.total_internos
			total_internos_activos				= Cprograma.total_internos_activos
			total_internos_inactivos			= Cprograma.total_internos_inactivos
			total_internos_suspendidos		= Cprograma.total_internos_suspendidos
			total_internos_actualizados 	= Cprograma.total_internos_actualizados 
			total_internos_observaciones	= Cprograma.total_internos_observaciones
			total_internos_esperando			= Cprograma.total_internos_esperando
			total_externos								= Cprograma.total_externos
			total_externos_activos				= Cprograma.total_externos_activos
			total_externos_inactivos			= Cprograma.total_externos_inactivos
			total_externos_suspendidos		= Cprograma.total_externos_suspendidos
			total_externos_actualizados 	= Cprograma.total_externos_actualizados 
			total_externos_observaciones	= Cprograma.total_externos_observaciones
			total_externos_esperando			= Cprograma.total_externos_esperando
		%>
		<tr>
			<td>Interno</td>
			<td><%= total_internos_esperando %></td>
			<td><%= total_internos_activos %></td>
			<td><%= total_internos_inactivos %></td>
			<td><%= total_internos_suspendidos %></td>
			<td><%= total_internos_actualizados %></td>
			<td><%= total_internos_observaciones %></td>
			<td><%= total_internos %></td>
		</tr>
		<tr>
			<td>Externo</td>
			<td><%= total_externos_esperando %></td>
			<td><%= total_externos_activos %></td>
			<td><%= total_externos_inactivos %></td>
			<td><%= total_externos_suspendidos %></td>
			<td><%= total_externos_actualizados %></td>
			<td><%= total_externos_observaciones %></td>
			<td><%= total_externos %></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Totales</th>
			<td>
				<%= total_internos_esperando + total_externos_esperando %>
			</td>
			<td>
				<%= total_internos_activos + total_externos_activos %>
			</td>
			<td>
				<%= total_internos_inactivos + total_externos_inactivos %>
			</td>
			<td>
				<%= total_internos_suspendidos + total_externos_suspendidos %>
			</td>
			<td>
				<%= total_internos_actualizados + total_externos_actualizados %>
			</td>
			<td>
				<%= total_internos_observaciones + total_externos_observaciones %>
			</td>
			<td>
				<%= total_internos + total_externos %>
			</td>
		</tr>
	</tfoot>
</table>