<h1>Cambiar clave del programa</h1>
Estás a punto de cambiar la clave del programa llamado: 
<p class="well well-small lead"><%= @programa.nombre %></p>
<p>Actualmente tiene la clave: <strong><%= @programa.cveprograma %></strong></p>
<h4>Nueva clave:</h4>
<%= form_for @programa, url: update_clave_cprograma_path, method: :put do |f| %>
<div class="input-append">
	<%= f.text_field :cveprograma, class: 'input-medium' %>
	<%= link_to 'Generar', generar_nueva_clave_cprograma_path, remote: true, class: 'btn btn-warning' %>
</div>
<h6>Si la clave generada no coincide, introducir manualmente.</h6>
<div class="form-actions">
	<%= f.submit "Cambiar clave", class: 'btn btn-large btn-success' %>
</div>
<% end %>