<% provide(:title, 'Editar Programa') %>
<% content_for :stylesheet do %>
	<%= stylesheet_link_tag "institucion_pages" %>
<% end %>

<h2>Edita información de tu programa de Servicio Social</h2>
<h6 class="center text-error">OBSERVACIONES HECHAS POR EL RESPONSABLE DEL PROGRAMA</h6>
<blockquote class="text-warning">
		<textarea class="input-block-level"><%= @cprograma.observaciones %>
		</textarea>
</blockquote>
<%= simple_form_for @cprograma, html: { class: 'form-horizontal' },
	defaults: { input_html: { class: 'input-block-level' } } do |f| %>
	<%= render 'cprogramas/forms/fields', f: f, type: 'nuevo' %>
	<%= javascript_include_tag "cprogramas" %>
<% end %>