<%= provide(:title, "Lista de programas") %>

<h1>Programas de Servicio Social</h1>
<% if @cprogramas.empty? %>
<p class="lead">No se encontró ningún programa en la base de datos.</p>
<% else %>

<%= will_paginate %>
<table class="table table-bordered table-striped" id="lista-programas">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Clave</th>
			<th>Institución</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<% @cprogramas.each do |p| %>
		<tr>
			<td>
				<%= link_to p.nombre, p %>
			</td>
			<td>
				<%= p.cveprograma %>
			</td>
			<td>
<<<<<<< HEAD
				<%= truncate(Institucion.find(p.institucion_id).nombre, length: 70) %>
			</td>
			<td>
				<% if can? :manage, p %>
					<%= render 'admin_btn', obj: p %>
				<% else %>
					<%= link_to p, class: "btn btn-block btn-success" do %>
						<i class="icon-plus-sign"></i>
						Detalles
					<% end %>
				<% end %>
=======
				<%= render 'cprogramas/forms/admin_btn', obj: p %>
>>>>>>> relaciones
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>

<% end %>