<%= provide(:title, "Lista de programas") %>
<%= content_for :javascript do %>
	<%= javascript_include_tag 'cprogramas' %>
<% end %>

<h1>Programas de Servicio Social</h1>
<% if @cprogramas.empty? %>
<p class="lead">No se encontró ningún programa <% if logged_as? :institucion %>tuyo<% end %> en la base de datos.</p>
<% else %>

<% if can? :manage, Cprograma %>
	<h5>Cantidad de programas</h5>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Categoría</th>
				<th>Cantidad</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Interno</td>
				<td><%= Cprograma.where(:categoria_interno => true).count %></td>
			</tr>
			<tr>
				<td>Externo</td>
				<td><%= Cprograma.where(:categoria_interno => false).count %></td>
			</tr>
		</tbody>
	</table>
<% end %>

<%= will_paginate %>
<table class="table table-bordered table-striped" id="lista-programas">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Clave</th>
			<th>Institución</th>
			<% if can? :manage, Cprograma %>
			<th>Estado</th>
			<% end %>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<% @cprogramas.each do |p| %>
		<tr>
			<td>
				<%= link_to p.nombre, p %>
			</td>
			<td>
				<%= p.cveprograma %>
			</td>
			<td>
				<abbr title="<%= p.institucion_user.institucion.nombre %>" >
					<%= truncate(p.institucion_user.institucion.nombre, length: 70) %>
				</abbr>
			</td>
			<% if can? :manage, Cprograma %>
			<td>
				<span class="label <%= label_for_estado_programa(p.estado_programa.id) %>">
					<%= p.estado_programa.descripcion %>
				</span>
			</td>
			<% end %>
			<td>
				<% if can? :manage, Cprograma %>
					<%= render 'cprogramas/forms/admin_btn', obj: p %>
				<% else %>
					<%= link_to p, class: "btn btn-block btn-success" do %>
						<i class="icon-plus-sign"></i>
						Detalles
					<% end %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>
<% end %>