<%= provide(:title, "Lista de programas") %>
<%= provide(:nav_active, :programas) %>
<%= content_for :javascript do %>
	<%= javascript_include_tag 'cprogramas' %>
<% end %>

<h1>Programas de Servicio Social</h1>
<% if can? :manage, Cprograma %>
	<%= render 'cprogramas/summary' %>
	<p>
		Mostrar programas por categoría:
		<%= links_to_estados_programa %>
	</p>
<% end %>
<% if @cprogramas.empty? %>
<p class="lead">No se encontró ningún programa <% if logged_as? :institucion %>tuyo<% end %> en la base de datos.</p>
<% else %>
<%= will_paginate %>
<table class="table table-bordered table-striped" id="lista-programas">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Clave</th>
			<th>Institución</th>
			<% if can? :manage, Cprograma %>
			<th>Estado</th>
			<% end %>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<% @cprogramas.each do |p| %>
		<tr>
			<td>
				<%= link_to p.nombre, p %>
			</td>
			<td>
				<%= p.cveprograma %>
			</td>
			<td>
				<abbr title="<%= p.institucion_user.institucion.nombre %>" >
					<%= truncate(p.institucion_user.institucion.nombre, length: 70) %>
				</abbr>
			</td>
			<% if can? :manage, Cprograma %>
			<td>
				<span class="label <%= label_for_estado_programa(p.estado_programa.id) %>">
					<%= p.estado_programa.descripcion %>
				</span>
			</td>
			<% end %>
			<td>
				<% if can? :manage, Cprograma %>
					<%= render 'cprogramas/forms/admin_btn', obj: p %>
				<% else %>
					<%= link_to p, class: "btn btn-block btn-success" do %>
						<i class="icon-plus-sign"></i>
						Detalles
					<% end %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>