<% provide(:title, 'Crear institucion') %>
<%= content_for(:javascript, "institucions")%>
<%= render 'shared/error_messages', object: @institucion %>

<%= simple_form_for @institucion, html: { class: 'form-horizontal' },
	defaults: { input_html: { class: 'input-block-level' } } do |f| %>
	<div class="row">
		<div class="span6">
			<!-- institucion fields -->
			<%= render 'institucion_users/fields', f: f %>
		</div>
		<div class="span6">
			<!-- user fields -->
			<legend>Datos de usuario</legend>
			<%= f.simple_fields_for :user do |builder| %>
				<%= render 'users/fields', f: builder %>
			<% end %>
		</div>
	</div>
	<div class="form-actions">
		<%= submit_tag 'Registrarse', class: 'btn btn-large btn-success' %>
		<%= button_tag 'Limpiar campos', type: 'reset', class: 'btn btn-large' %>
	</div>
<% end %>