<div class="row">
	<div class="span2">
		<%= f.input :numero, input_html: { class: 'input-small', max: 5, min: 1, autofocus: true } %>
	</div>
	<div class="span2 offset1">
		<%= f.input :periodo_inicio do %>
			<div class="input-append bootstrap-timepicker-component">
				<%= f.text_field :periodo_inicio, 'data-behaviour' => 'datepicker', class: 'input-small', placeholder: "dd/mm/aaaa", value: f.object.periodo_inicio.to_s %>
				<span class="add-on">
		  			<i class="icon-calendar"></i>
		  		</span>
			</div>
		<% end %>
	</div>
	<div class="span2 offset1">
		<%= f.input :periodo_fin do %>
			<div class="input-append bootstrap-timepicker-component">
				<%= f.text_field :periodo_fin, 'data-behaviour' => 'datepicker', class: 'input-small', placeholder: "dd/mm/aaaa", value: f.object.periodo_fin.to_s %>
				<span class="add-on">
		  			<i class="icon-calendar"></i>
		  		</span>
			</div>
		<% end %>
	</div>
</div>
<!-- RESUMEN DE HORAS -->
<div class="row">
	<div class="span2">
		<%= f.input :horas do %>
			<div class="input-append">
				<%= f.text_field :horas, class: 'input-mini right', placeholder: "HH:MM" %>
				<span class="add-on">
		  			<i class="icon-time"></i>
		  		</span>
			</div>
		<% end %>
	</div>
	<div class="span2 offset1">
		<%= f.input :horas_anteriores do %>
			<div class="input-append">
				<%= f.text_field :horas_anteriores, class: 'input-mini right', placeholder: "HHH:MM" %>
				<span class="add-on">
		  			<i class="icon-time"></i>
		  		</span>
			</div>
		<% end %>
	</div>
	<div class="span2 offset1">
		<%= f.input :horas_acumuladas do %>
			<div class="input-append">
				<%= f.text_field :horas_acumuladas, class: 'input-mini right', placeholder: "HHH:MM" %>
				<span class="add-on">
		  			<i class="icon-time"></i>
		  		</span>
			</div>
		<% end %>
	</div>
</div>
<%= f.input :actividades, input_html: { class: 'input-block-level no-resize' } %>