<% provide :title, "Informe Bimensual de Actividades" %>

<h1>Detalles del reporte</h1>
<p class="lead">
	A continuación se presentan los detalles del <strong><em>Informe Bimensual de Actividades</em></strong>.
</p>
<div class="row">
	<div class="span2">
		<p>
			<strong>Inscripción:</strong> <%= link_to "##{@reporte.inscripcion.id}", @reporte.inscripcion %>
		</p>
	</div>
	<div class="span5 offset1">
		<p>
			<strong>Prestador:</strong> <%= link_to @reporte.inscripcion.prestador.nombre_completo, @reporte.inscripcion.prestador %>
		</p>
	</div>
</div>
<p>
	<strong>Número:</strong> <%= @reporte.numero %>
</p>
<div class="row">
	<div class="span3">
		<strong>Periodo del:</strong>
		<%= @reporte.periodo_inicio %>
	</div>
	<div class="span3">
		<strong>Al:</strong>
		<%= @reporte.periodo_fin %>
	</div>
	<div class="span2">
		<strong>Estado:</strong>
		<span class="label <%= lbl_estado_reporte(@reporte) %>">
			<%= @reporte.estado_reporte.descripcion %>
		</span>
	</div>
</div>
<br>
<div class="row">
	<div class="span2">
		<strong>Horas:</strong>
		<p class="well well-small center">
			<%= @reporte.horas %>
		</p>
	</div>
	<div class="span2 offset1">
		<strong>Horas anteriores:</strong>
		<p class="well well-small center">
			<%= @reporte.horas_anteriores %>
		</p>
	</div>
	<div class="span2 offset1">
		<strong>Horas acumuladas:</strong>
		<p class="well well-small center">
			<%= @reporte.horas_acumuladas %>
		</p>
	</div>
</div>
<div class="pull-right span2">
	<%= render 'admin_btn', obj: @reporte %>
</div>
<h3>Actividades</h3>
<div class="well well-small">
	<%= simple_format h(@reporte.actividades) %>
</div>
<% if can? :manage, MonthlyReport %>
	<%= render 'shared/observaciones', object: @reporte, url: informe_bimensual_path(@reporte) %>
	<%= render 'shared/back_button', link: admin_reportes_bimensuales_path %>
<% end %>