<% 	size ||= 'btn-small' %>
<div class="btn-group btn-block">
	<a href="#" class="btn <%= size %> btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
		Administrar
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
		<li>
			<%= link_to obj do %>
				<i class="icon-eye-open"></i>
				Ver detalles
			<% end %>
		</li>
		<li>
			<%= link_to edit_cprograma_path(obj) do %>
			<i class="icon-pencil"></i>
			Editar
			<% end %>
		</li>
		<li>
			<%= link_to cprograma_path(obj), method: :delete, confirm: 'Estás seguro?' do %>
			<i class="icon-trash"></i>
			Borrar
			<% end %>
		</li>
		<!-- CAMBIO DE ESTADO -->
		<li class="dropdown-submenu pull-left">
			<a href="#" tabindex="-1">
				<i class="icon-wrench"></i>
				Cambiar estado
			</a>
			<ul class="dropdown-menu">
				<% EstadoPrograma.all.each do |e| %>
				<li>
					<%= link_to update_status_path(obj, e.id), confirm: "Actualizando estado de programa",
					method: :put do %>
						<i class="<%= icon_for_estado_programa(e.id) %>"></i>
						<%= e.descripcion %>
					<% end %>
				</li>
				<% end %>
			</ul>
		</li>
	</ul>
</div>