<% type ||= '' %>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#datos_programa" data-toggle="tab">Datos</a></li>
		<li><a href="#caract_programa" 	data-toggle="tab">Caracter&iacute;sticas</a></li>
		<li><a href="#perfil_programa" 	data-toggle="tab">Perfil Acad&eacute;mico</a></li>
		<li><a href="#respon_programa" 	data-toggle="tab">Responsable</a></li>
		<li><a href="#obser_programa" 	data-toggle="tab">Observaciones</a></li>
	</ul>
</div>
<!-- START TABS -->
<div class="tab-content">
	<!-- DATOOS DEL PROGRAMA -->
	<div class="tab-pane active" id="datos_programa">
		<%= f.input :nombre, 				:input_html => {:class => "input-large" } %>
		<%= f.input :objGeneral, 		:input_html => { :rows => 5 } %>
		<%= f.input :justificacion, :input_html => { :rows => 5 } %>
		<%= f.input :desarrollo, 		:input_html => { :rows => 5 } %>
		<%= f.input :recursos,		 	:input_html => { :rows => 5 } %>
		<%= f.input :evaluacion, 		:input_html => { :rows => 5 } %>
		<%= f.input :resultados, 		:input_html => { :rows => 5 } %>
		<div class="well well-small center">
			<h6>Pulsa en <%= link_to 'Características del programa', '#' , :id => 'nextC' %> para continuar</h6>
		</div>
	</div>
	<!-- CARACTERÍSTICAS -->
	<div class="tab-pane" id="caract_programa">
		<%= f.association :tipo_programa, label_method: :descripcion, :input_html => {:class => "input-xlarge use-select2"},
			include_blank: false %>
		<%= f.input :tiempo_indeterminado, as: :radio_buttons, collection: [["Indeterminado", true], ["Determinado", false]] %>
		<%= f.association :alcance_programas, label_method: :descripcion, input_html: { class: 'input-medium' } %>
		<%= f.association :poblacion_programas, label_method: :descripcion, input_html: { class: 'input-medium' } %>
		<%= f.input :lugar, :input_html => {:class => "input-large"} %>
		<%= f.association :dias, label_method: :dia_semana, input_html: { class: 'input-medium' } %>
		<%= f.association :horario_programa, label_method: :descripcion, :input_html => {:class => "input-xlarge use-select2"}, include_blank: false %>
		<div class="well well-small center">
			<h6>Pulsa en <%= link_to 'Perfil Académico', '#' , :id => 'nextP' %> para continuar</h6>
		</div>
	</div>
	<!-- LICENCIATURAS -->
	<div class="tab-pane" id="perfil_programa">
		<%= render 'cprogramas/forms/licenciaturas_table', f: f %>
		<div class="well well-small center">
			<h6>Pulsa en <%= link_to 'Responsable', '#' , :id => 'nextR' %> para continuar</h6>
		</div>
	</div>
	<!-- RESPONSABLES -->
	<div class="tab-pane" id="respon_programa">
		<%= render 'cprogramas/forms/responsables_table', f: f %>
		<div class="well well-small center">
			<h6>Pulsa en <%= link_to 'Observaciones', '#' , :id => 'nextO' %> para continuar</h6>
		</div>
	</div>
	<!-- OBSERVACIONES DE PROGRAMA -->
	<div class="tab-pane" id="obser_programa">
		<%= f.input :notas, :input_html => { :rows => 5 } %>
		<div class="form-actions">
			<% button_title = action_name == 'new' ? "Enviar programa" : "Actualizar programa" %>
			<%= f.submit button_title, :class => 'btn btn-success'%>
			<%= button_tag "Limpiar campos", type: "reset", class: "btn " %>
		</div>
	</div>
</div>
<!-- END TABS -->