<tr id="res0">
    <td>
        <%= f.input_field :encargado, id:"24", :class => "input-medium" %>
    </td>
    <td> 
        <%= f.input_field :cargo, id:"25", :class => "input-medium" %>
    </td>
    <td>
        <%= f.input_field :email,id:"26", :class => "input-medium" %>
    </td>
    <td>
        <% ya_registrado = !f.object.new_record? %>
        <%= link_to_function "Eliminar", "eliminar_responsable(this, #{ya_registrado})", id:"27", class: 'btn btn-mini btn-danger btn-eliminar' %>
        <%= f.hidden_field :_destroy %>
    </td>
</tr>