<ul class="breadcrumb">
	<li>
		<a href="#">Prestador</a>
		<span class="divider"> &gt; </span>
	</li>
	<li>
		<%= link_to "index", prestadors_path %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "new", new_prestador_path %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "edit", edit_prestador_path(1) %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "show", prestador_path(1) %>
	</li>
</ul>
<ul class="breadcrumb">
	<li>
		<a href="#">InstitucionUser</a>
		<span class="divider"> &gt; </span>
	</li>
	<li>
		<%= link_to "index", institucion_users_path %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "new", new_institucion_user_path %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "edit", edit_institucion_user_path(1) %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "show", institucion_user_path(1) %>
	</li>
</ul>
<ul class="breadcrumb">
	<li>
		<a href="#">Programas</a>
		<span class="divider"> &gt; </span>
	</li>
	<li>
		<%= link_to "index", cprogramas_path %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "new", new_cprograma_path %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "edit", edit_cprograma_path(1) %>
		<span class="divider"> – </span>
	</li>
	<li>
		<%= link_to "show", cprograma_path(1) %>
	</li>
</ul>