<header class="navbar navbar-static-top">
  <nav class="navbar-inner">
    <div class="container">
      <% link = current_user ? current_user.user_page : root_path %>
      <%= link_to "SiRASS", link, id: "sirass", class: 'brand' %>
      <% spanNav = " "
         spanDrop = " "
         action = " "
         if logged_as?(:institucion)
            if current_user.institucion_user and current_user.institucion_user.paseo == false
              spanNav = "span6"
              spanDrop = "span3"
              action = "onclick = ActMod(0,'home',null,5,0)"
            end
         end
      %>
      <ul class="nav <%= spanNav %>">
        <li id="nav_programas"><%= link_to "Programas", programas_path, id: "programas"  %></li>
        <% if logged_as?(:institucion) or logged_as?(:prestador) or !current_user  %><li id="nav_proceso"><%= link_to "Proceso", proceso_path, id: "proceso"  %></li>
        <li id="nav_ayuda">
          <% if !logged_as?(:institucion) %>
            <%= link_to "Ayuda", ayuda_path, id: "help"  %>
          <% else %>
            <%= link_to_function "Ayuda", 'ActAyuda()', id: "help" %>
          <% end %>
        </li><% end %>
        <% if can? :manage, Cprograma %>
          <li class="divider-vertical"></li>
          <li id ="search_prestador">
            <%= form_tag prestador_search_path, method: :get, class: 'navbar-search' do |f| %>
              <% text_field_tag :nombre, nil, placeholder: 'Buscar prestador', class: 'search-query' %>
            <% end %>
          </li>
          <li>
            <span class="sep"></span>
          </li>
          <li id="search_programa">
            <%= form_tag search_cprogramas_path, method: :get, class: 'navbar-search' do |f| %>
              <% text_field_tag :programa, nil, placeholder: 'Buscar programa', class: 'search-query' %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% if logged_in? %>
        <!-- opciones de cuenta -->
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown <%= spanDrop %>" id ="menuDrop">
            <a href="#" <%= action %>
              class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user icon-white"></i>
              <%= current_user.username %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user.user_page, id: 'userDrop' do %>
                <i class="icon-user"></i>
                Perfil
                <% end %>
              </li>
              <!-- links especificos de usuario -->
              <%= render 'layouts/prestador/headerLinks' if current_user.prestador %>
              <%= render 'layouts/admin/headerLinks' if current_user.admin %>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path, id: 'closeDrop', method: "delete" do %>
                  <i class="icon-off"></i>
                  Cerrar sesión
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav pull-right">
          <li><%= link_to "Iniciar sesión", login_path, class: "nav-link" %></li>
          <li><%= link_to "Regístrate", registro_path, class: "nav-link" %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>