<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= render 'shared/shim' %>
  <%= render 'shared/livereload' if Rails.env.development? %>
  <%= render 'shared/seo' %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "admins" %>
</head>
<body id="<%= controller_name %>-<%= action_name %>">
  <div id="wrap">
    <%= render 'layouts/header' %>
    
    <div class="container">
      <div class="row">
        <!-- Sidebar
        ============================== -->
        <%= render 'layouts/admin/sidebar' %>
        <!-- Contenido
        ============================== -->
        <div class="span8 solid">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->


    <%= render 'shared/debug' %>
    <div id="push"></div>
  </div>
  <%= render 'layouts/footer' %>
  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>
</body>
</html>
